# This file is managed by Puppet
#
<VirtualHost *:<%= @port %>>
        DocumentRoot "/var/www/<%= @client_folder %>/<%= url %>/htdocs/"

        ServerName <%= @server_name %>
        ServerAlias   <% @server_alias.each do |serv| -%> <%= serv %>,
        <% end -%>

<% if @logstash_log_forward -%>
        ErrorLog logs/<%= @error_log %>
        CustomLog logs/<%= @access_log %> logstash_forwarded
<% else -%>
        ErrorLog logs/<%= @error_log %>
        CustomLog logs/<%= @access_log %> combined
<% end -%>

<% if @error_doc -%>
  		ErrorDocument 404 /404.html
<% end -%>

<% if @options -%>
        <Directory "/var/www/<%= @client_folder %>/<%= @url %>/htdocs/">
				Options -All +SymLinksIfOwnerMatch
                AllowOverride All
        </Directory>        
<% else -%>
        <Directory "/var/www/<%= @client_folder %>/<%= @url %>/htdocs/">
                Options None
                AllowOverride All
        </Directory>
<% end -%>				
</VirtualHost>
